.container
  .row
    .span4
      h2 Companionships
      .js-companionships
        .js-companionship-tpl
          .js-companionship
            .js-companion
              h4 Companion A
              div
                span.js-name AJ
                span   
                span.js-last ONeal
              //-img.js-pic(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc1/c170.50.621.621/s160x160/304335_10151114117680502_1732124793_n.jpg")
                .js-address
                  .js-line-1 271 Kensington Way
                  .js-line-2
                  div
                    span.js-city San Francisco
                    span , 
                    span.js-state CA
                    span  
                    span.js-zip 94127

            .js-supervisor
              h4 Supervisor
              div
                span.js-name Jason
                span   
                span.js-last Derula
              //-img.js-pic(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc1/c170.50.621.621/s160x160/304335_10151114117680502_1732124793_n.jpg")

            .js-stewardship
              h4 Home Teachees
              .js-member
                div
                  span.js-name Sarah
                  span   
                  span.js-last Plain
                //-img.js-pic(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc1/c170.50.621.621/s160x160/304335_10151114117680502_1732124793_n.jpg")
                .js-address
                  .js-line-1 271 Kensington Way
                  .js-line-2
                  div
                    span.js-city San Francisco
                    span , 
                    span.js-state CA
                    span  
                    span.js-zip 94127

    .span4
      h2 Unassigned Stewards
      .js-steward
        div
          span.js-name Papa
          span   
          span.js-last Bear
        //-img.js-pic(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc1/c170.50.621.621/s160x160/304335_10151114117680502_1732124793_n.jpg")
        .js-address
          .js-line-1 137 Creek Cir
          .js-line-2
          div
            span.js-city San Francisco
            span , 
            span.js-state CA
            span  
            span.js-zip 94127

    .span4
      h2 Unassigned Members
      .js-member
        div
          span.js-name Big
          span   
          span.js-last Bird
        //-img.js-pic(src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-frc1/c170.50.621.621/s160x160/304335_10151114117680502_1732124793_n.jpg")
        .js-address
          .js-line-1 123 Seasame Street
          .js-line-2
          div
            span.js-city San Francisco
            span , 
            span.js-state CA
            span  
            span.js-zip 94127
