!!! 5
//-doctype html
html
  head
    link(href="bootstrap/css/bootstrap.css", rel="stylesheet", media="screen")
    link(href="stylesheets/style.css", rel="stylesheet", media="screen")

    script(src="http://localhost:35729/livereload.js")
    script(src="javascripts/jquery-2.0.3.min.js")
    script(src="bootstrap/js/bootstrap.js")
    script(src="javascripts/pakmanaged.js")
  body

    .js-nav
      include nav
    .js-sign-in
      include sign-in
    .pill-content.js-pill-content
      #dashboard.pill-pane.js-dashboard
        include dashboard
      #assignments.pill-pane.js-assignments
        include assignments
      #reports.pill-pane.js-reports
        include reports
