ul#js-nav-tab.nav.nav-pills
  li.pull-right
    a(data-toggle="pill", href="#reports") Reports
  li.pull-right
    a(data-toggle="pill", href="#assignments") Assignments
  li.pull-right
    a(data-toggle="pill", href="#dashboard") Dashboard
