.container
  form.form-signin.js-form-signin
    h2.form-signin-heading Please sign in
    div
      button.btn.btn-large.btn-primary(type="submit") Sign in with LDS.org
    div
      button.btn.btn-large.btn-primary(type="submit") Sign in with Google
    div
      button.btn.btn-large.btn-primary(type="submit") Sign in with Facebook
    div
      button.btn.btn-large.btn-primary(type="submit") Sign in with Twitter
    div
      button.btn.btn-large.btn-primary(type="submit") Sign in with LinkedIn
    div ----- or -----
    input.input-block-level(type="text", placeholder="Email address")
    input.input-block-level(type="password", placeholder="Password")
    label.checkbox
      input(type="checkbox", value="remember-me")
      span Remember me
    button.btn.btn-large.btn-primary(type="submit") Sign in
